body {
    background: radial-gradient(circle at 100%, #030129, #19043c 50%, #eee 75%, #170956 75%);
}
#users-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 1rem;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 6px 6px 12px blueviolet;
    width: 250px;
    margin: 5px;
    text-align: center;
    
    
}

img{
    width: 180px;
    border-radius: 10px;
}

.titulo{
    border: 2px solid blue;
    width: 100%;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 6px 6px 12px blueviolet;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
    box-shadow: 3px 3px 6px blue;
    color: darkblue;
    font-size: 36px;
    font-weight: bold;    
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    text-shadow: 2px 2px 4px gray;
    font-weight: 800;
    font-size: 1.2rem;
}


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    font-weight: 600;
    font-size: 1rem;
}